
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --purple:hsl(263, 55%, 52%);
     --gray500:  hsl(217, 19%, 35%);
     --darkblue:   hsl(219, 29%, 14%);
     --gray200:  hsl(0, 0%, 96%);
     --gray100:  hsl(210, 46%, 95%);
}
.black{
    color:white;
}
body{
    font-family: 'Barlow Semi Condensed', sans-serif;
    background-color: var(--gray200);
}
p{
    font-size: 16px;
    color: var(--gray500);
    opacity: 70%;
}
.container{
    display: flex;
    padding: 1em 5em  0 5em;
    margin-top: 1.5rem;
    justify-content: space-between;
}
.testimonials{
    width: 70%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.testimonials-big{
    position: relative;
    background-color: var(--purple);
    width: 68%;
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-bottom: 1.5em;
    border-radius: 10px;
    margin-bottom: 10px;
}
.info{
    display: flex;
    align-items: center;
    gap: 10px;
}
.info .img{
    width: 35%;
    margin-right: .5rem;
}
.info .images img{
    width: 100%;
   
    border-radius: 50%;
}
 .info .name{
    color: white;
 }
 .name h3{
    font-size: 15px;
 }
 .name p{
    color: white;
    font-size: 10px;
    opacity: 50%;
 }
 .view .bold{
    margin: 13px 0;
    font-weight: 600;
    color: white;
 }
 .testimonials-small{
    background-color: var(--darkblue);
    width: 30%;
    border-radius: 10px;
    padding: 1.5em;
    margin-bottom: 10px;
 }
 .white{
    background-color: white;
 }
 .white,
 .white .name,
 .white p ,
 .white .name p ,
 .white .view .bold{
    color: black;
 }
 .testimonial{
    background: white;
    color: black;
    width: 25%;
    border-radius: 10px;
    padding: 1.5em;
    margin-left: 10px;
 }
 .quote{
    margin-left: auto;
    text-align: right;
    margin-right: 10%;
    margin-top: 0%;
 }
 @media (max-width:650px) {
    .container{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: auto;
        padding: 3em auto;
    }
    .testimonials{
        width: 100%;
        flex-direction: column;
    }
    .testimonial,
    .testimonials-big,
    .testimonials-small{
        width: 100%;
    }
    .quote{
        display: none;
    }
 }
